<div class="flex flex-column justify-content-center align-items-center h-full">
  <video
    id="my-video"
    class="video-js vjs-default-skin p-col-12"
    controls
    preload="auto"
    width="800"
    height="450"
  >
    <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
  </video>
  <div class="mt-4">
    <p-button
      *ngIf="!isPlaying"
      [rounded]="true"
      icon="pi pi-play"
      class="m-3 p-col-3"
      (click)="play()"
    >
    </p-button>
    <p-button
      *ngIf="isPlaying"
      [rounded]="true"
      icon="pi pi-pause"
      class="m-3 p-col-3"
      (click)="pause()"
    >
    </p-button>
    <p-button
      [rounded]="true"
      icon="pi pi-replay"
      class="m-3 p-col-3"
      (click)="restart()"
    >
    </p-button>
    <p-button
      [rounded]="true"
      icon="pi pi-backward"
      class="m-3 p-col-3"
      (click)="fastBackward()"
    >
    </p-button>
    <p-button
      [rounded]="true"
      icon="pi pi-forward"
      class="m-3 p-col-3"
      (click)="fastForward()"
    >
    </p-button>
  </div>
</div>
